.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}

.auth-container label {
  font-size: 14px;
  font-weight: 500;
  color: #444444;
  text-align: left;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  color: #333333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.auth-container input:focus {
  border-color: #007bff;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth-container input::placeholder {
  font-style: italic;
  color: #999999;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-container button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.auth-container button:last-of-type {
  margin-top: 20px;
  background-color: #3758db;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.auth-container button:last-of-type:hover {
  background-color: #c23321;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.auth-container p {
  font-size: 14px;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}
